   .submit {
                margin-left: 60px;
                margin-top: 0px;
            width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
     -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    cursor:pointer
        
            }


            .submit1 {
             margin-left: 544px;
                padding: 9px 15px; 
     background: #617798;           
    border: 0;  
    font-size: 14px;  
     color: #FFFFFF; 
     -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    cursor:pointer
             
            }
        