
            #searchbox {
            float: right;
            }
            #layr {
             opacity:.9;
             margin-left: 200px;
             margin-top: 150px;
            
       
             height: 750px;
             width: 930px;
             
            background-color: #fff;
            }

            .sidepic {
            width: 170px;
            height: 1100px;
            margin-left: 0px;
           background-color: #808080;
           background-image: url('Images/sidepic.jpg');
           background-position: right top;
           background-repeat: no-repeat;
            
            margin-top: 0px;
          
            }


            .noeffect {
            display: inline;}

        